language: php
sudo: required
php:
  - '5.6'
services:
  - mysql

before_install:
  - nvm install 4.2
  - nvm use 4.2
  - mysql -u root -e 'create database drupal;'
  - sudo apt-get update
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # enable php-fpm
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
install:
  - composer install --prefer-source --no-interaction
  - npm install
  - composer global require drush/drush:7.1.* --no-interaction
  - mkdir -p ~/.drush
  - cp ./travis/nyccampdemo.aliases.drushrc.php ~/.drush
  # Drupal settings.
  - cp ./travis/travis.settings.secret.php ./settings/settings.secret.php
  - sudo ln -s ~/.composer/vendor/bin/drush /usr/bin/drush
  # Configure Apache.
  - sudo cp ./travis/nyccampdemo.dev.conf /etc/apache2/sites-available/
  - sudo a2ensite nyccampdemo.dev.conf
  - sudo a2enmod rewrite
  - sudo service apache2 restart
  # Edit hosts file.
  - sudo sh -c 'echo "127.0.0.1 nyccampdemo.dev" >> /etc/hosts'
  # Prepare Drupal Installation and Install it.
  # Build the Drupal site and set files permissions.
  - sudo chown -R root:www-data ./files
  - ./node_modules/.bin/aquifer build
  - sudo chmod 777 -R ./build/sites/default/files
  - ./node_modules/.bin/aquifer extensions-load
  - sudo chown -R www-data:www-data ./build/sites/default/files
  # Set alias.
  - drush site-set @nyccampdemo.nyccampdemo.dev
  - drush cc drush
  # Install Drupal and disable sendmail.
  - /usr/bin/env PHP_OPTIONS="-d sendmail_path=`which true`" drush si -y nyccampdemo
  # Post build configuration.
  - drush cc drush
  - drush master-set-current-scope local
  - drush master-execute -y
  - drush cc all

script:
  # PHP Lint.
  - ./node_modules/.bin/gulp phplint
  # Drupal Coding Standards.
  - ./node_modules/.bin/gulp drupalcs
  # ESLint.
  - ./node_modules/.bin/gulp eslint
  # Overridden features.
  - drush @nyccampdemo.nyccampdemo.dev fl | grep -qi 'overridden' && (echo 'Overridden Features FAIL' && exit 1) || (echo 'Overridden Features PASS' && exit 0)
  # Available updates.
  - drush @nyccampdemo.nyccampdemo.dev ups | grep -qi "update available" && (echo 'Updates available FAIL' && exit 1) || (echo 'No updates available PASS' && exit 0)
  # Behat tests.
  - ./vendor/bin/behat -p wercker
